# ==============================
# Visual Studio and NuGet Files
# ==============================
.vs/
build/target
packages/
/src/ServiceImport.Framework/src/bin
/src/ServiceImport.Framework/src/obj
/src/ServiceImport.Framework/test/bin
/src/ServiceImport.Framework/test/obj
/src/ServiceImport.MSBuild/src/bin
/src/ServiceImport.MSBuild/src/obj
/src/ServiceImport.Console/src/bin
/src/ServiceImport.Console/src/obj
/src/VersionInfo.generated.cs